<script src="https://unpkg.com/htmx.org"></script>
<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>

<div>
  <!-- <form id="form" hx-post="/join-room" hx-include="#name" hx-target="#ws-container" hx-swap="outerHTML"> -->
  <form>
  <label for="name">Name: </label>
  <input type="text" id="name" name="name">
  <label for="room">Room ID: </label>
  <input type="text" id="room" name="room">
  </form>
  <!-- <button id="join" type="submit"> -->
  <!--   Join room -->
  <!-- </button> -->
  <!-- </form> -->
  <button id="join"
    hx-post="/join-room"
    hx-include="#name, #room"
    hx-target="body"
    hx-trigger="click">
    Join room
  </button>
  <button id="create"
    hx-post="/create-room"
    hx-include="#name"
    hx-target="body"
    hx-trigger="click">
    Create room
  </button>
</div>

